[profile.default]
solc = "0.8.27"
via_ir = true
src = "src"
out = "out"
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./" }]
gas_reports = ["*"]
optimizer = true
optimizer_runs = 800
cache_path = "forge-cache"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

remappings = [
    '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/',
    '@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/',
    "@chainlink/=lib/chainlink-brownie-contracts/contracts/src/v0.8/",
]


[profile.ci]
solc = "0.8.27"
via_ir = false
optimizer = true
optimizer_runs = 200


[rpc_endpoints]
mainnet = "${ETH_RPC_URL}"

[fmt]
bracket_spacing = false
int_types = "long"
line_length = 120
multiline_func_header = "params_first"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4